.preview-page {
    .preview-title {
        font-size: 38px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    fieldset {
        margin: 15px 0;
        legend {
            display: block;
            font-size: 28px;
        }
    }
    
}