.error-page {
    padding-top: 20px;

    .error-message {
        text-align: center;
        font-weight: bold;
        font-size: 24px;
        margin-top: 10px;
    }

    .home-page-link {
        display: block;
        text-align-last: center;
        font-weight: normal;
        font-size: 24px;
        margin-top: 10px;
        color: rgb(66, 133, 244);
    }
}
